/* Dark theme variables */
.theme-dark {
	/* Text colors */
	--text-normal: var(--color-light-gray-min);
	--text-muted: color-mix(in oklch, var(--color-light-gray-min) 60%, transparent);
	--text-faint: color-mix(in oklch, var(--color-light-gray-min) 40%, transparent);
	--text-error: var(--color-red-min);
	--text-success: var(--color-green-min);
	--text-warning: var(--color-yellow-min);
	--text-on-accent: var(--text-muted);
	--text-on-accent-inverted: var(--color-dark-gray-min);
	--text-accent: color-mix(in oklch, var(--color-pink-mid) 50%, var(--color-pink-min));
	--text-accent-hover: oklch(from var(--text-accent) calc(l + 0.15) c h);
	--text-selection: var(--color-pink-mid);
	--text-highlight-bg: var(--color-pink-mid);
	--caret-color: var(--color-pink-mid);

	/* Primary backgrounds */
	--background-primary: color-mix(in oklch, var(--color-dark-gray-max) 84%, var(--color-dark-gray-mid));
	--background-primary-alt: color-mix(in oklch, var(--color-dark-gray-max) 90%, var(--color-dark-gray-mid));
	--background-secondary: color-mix(in oklch, var(--color-dark-gray-max) 100%, var(--color-dark-gray-mid));
	--background-secondary-alt: color-mix(in oklch, var(--color-dark-gray-max) 20%, var(--color-dark-gray-mid));

	/* Modifier backgrounds */
	--background-modifier-border: color-mix(in oklch, var(--color-dark-gray-min) 20%, var(--color-dark-gray-mid));
	--background-modifier-border-hover: var(--background-modifier-border);
	--background-modifier-border-focus: var(--background-modifier-border);
	--background-modifier-form-field: color-mix(in oklch, var(--color-dark-gray-min) 20%, var(--color-dark-gray-mid));
	--background-modifier-form-field-highlighted: color-mix(
		in oklch,
		var(--color-dark-gray-min) 20%,
		var(--color-dark-gray-mid)
	);
	--background-modifier-cover: color-mix(in srgb, var(--color-dark-gray-max) 42%, transparent);
	--background-modifier-hover: var(--background-primary);
	--background-modifier-box-shadow: var(--color-ink-max);
	--background-modifier-active-hover: oklch(from var(--background-modifier-hover) calc(l - 0.05) c h);
	--background-modifier-success: var(--color-green-min);
	--background-modifier-success-rgb: color-mix(in srgb, var(--background-modifier-success) 100%, transparent);
	--background-modifier-error: var(--color-red-min);
	--background-modifier-error-rgb: color-mix(in srgb, var(--background-modifier-error) 100%, transparent);
	--background-modifier-error-hover: oklch(from var(--background-modifier-error) calc(l - 0.05) c h);
	--background-modifier-message: oklch(from var(--background-modifier-error) calc(l - 0.05) c h);

	/* Interactive */
	--interactive-normal: var(--color-pink-mid);
	--interactive-hover: oklch(from var(--interactive-normal) calc(l - 0.05) c h);
	--interactive-accent: color-mix(in oklch, var(--color-pink-mid) 42%, var(--color-pink-max));
	--interactive-accent-hsl: color-mix(in hsl, var(--interactive-accent) 100%, transparent);
	--interactive-accent-hover: oklch(from var(--interactive-accent) calc(l - 0.05) c h);

	/* UI elements */
	--titlebar-background: var(--color-dark-gray-max);
	--titlebar-background-focused: oklch(from var(--titlebar-background) calc(l + 0.05) c h);
	--ribbon-background: oklch(from var(--titlebar-background) calc(l + 0.1) c h);
	--ribbon-background-collapsed: var(--ribbon-background);
	--tab-background-active: oklch(from var(--titlebar-background) calc(l + 0.15) c h);
	--tab-text-color-active: var(--text-muted);
	--tab-text-color-focused-active: var(--text-normal);

	/* Scrollbars */
	--scrollbar-bg: var(--light-gray-min);
	--scrollbar-thumb-bg: var(--light-gray-min);
	--scrollbar-active-thumb-bg: var(--light-gray-min);
}
